.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }
}